body {
    background: #eee;
}

.canvas {
    background: #fff;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
}

.xsy-editor {
    position: relative;
    display: inline;
    float: left;
    width: calc(100% - 400px);
}

.xsy {
    padding: 45px 50px;
}

.title {
    text-transform: uppercase;
    color: #73bde7;
}
